<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>

    <a href="/">Inicio</a>
    {{#if isAuth}}
        <a href="/articles/create">Añadir anuncio</a>
    {{/if}}

    <ul>
        {{#each articles}}
            <li>
                <h4>
                    <a href="/articles/{{_id}}">{{ model }}</a>
                </h4>
                <h4>Año: {{year}}</h4>
                <h4>Precio: {{price}}</h4>
                {{#if image}}
                    <img src="{{image}}" width="140px" alt="{{model}}">
                {{/if}}
                {{#if isAuth}}
                    <form action="/pets/{{_id}}?_method=DELETE" method="POST">
                        <button type="submit">Eliminar vehículo</button>
                    </form>
                {{/if}}
            </li>

            <hr />
        {{/each}}
        
    </ul>

</body>
</html>