<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>{{article.model}}</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/articles">Volver</a>

    {{#if article}}
      <h2>{{article.model}}</h2>
      <h4>Vehículo: {{article.type}}</h4>
      <h4>Año: {{article.year}}</h4>
      <h4>Marca: {{article.brand}}</h4>
      <h4>Color: {{article.color}}</h4>
      <h4>Combustible: {{article.fuel}}</h4>
      <h4>Kilómetros: {{article.kilometres}}</h4>
      <h3>Precio: {{article.price}}</h3>
      {{#if article.image}}
        <img src="{{article.image}}" width="300px" alt="{{article.type}}" />
      {{/if}}
      {{#if isAuth}}
        <div>
            <a href="/articles/{{article._id}}/edit">
            <button>Editar anuncio</button>
            </a>
        </div>
      {{/if}}
    {{else}}
      <h3>El vehiculo que buscas no existe</h3>
    {{/if}}
  </body>
</html>