<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <title>Create article</title>
  </head>
  <body>
    <h1>Crea tu anuncio y vende tu vehículo</h1>
    <a href="/">Inicio</a>
    <a href="/articles">Volver</a>
    <form action="/articles/create" method="POST" enctype="multipart/form-data">
      <label>
        <p>Modelo</p>
        <input type="text" name="model" placeholder="model" />
      </label>

      <label>
        <p>Año</p>
        <input type="number" name="year" placeholder="year" />
      </label>

      <label>
        <p>Marca</p>
        <input type="text" name="brand" placeholder="brand" />
      </label>
      
      <label>
        <p>Color</p>
        <input type="text" name="color" placeholder="color" />
      </label>

      <label>
        <p>Kilómetros</p>
        <input type="text" name="kilometres" placeholder="kilometres" />
      </label>

      <label>
        <p>Color</p>
        <input type="text" name="color" placeholder="color" />
      </label>

      <label>
        <p>Precio</p>
        <p>*Por favor, añade el simbolo de la moneda que utilices*</p>
        <input type="text" name="price" placeholder="price" />
      </label>

      <label>
        <p>Vehículo</p>
        <select name="type" placeholder="type">
            <option value="coche">Coche</option>
            <option value="moto">Moto</option>
            <option value="furgoneta">Furgoneta</option>
        </select>
      </label>

      <label>
        <p>Imagen</p>
        <input type="file" name="image" />
      </label>

       <button type="submit">Enviar</button>

    </form>
  </body> 
</html>